@import'Value';

body{
    background-color: $backgerandDf;
    font-size: $fontSizeDf;
    color: $colorDF;
    direction: $directionDf;
    text-align: $text-alignDf;
    margin: 0%;
    padding: 0%;
    font-family: ShabnamFD;
    
}
